

.main-home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section-balance{
    margin: 2rem;
    border-radius: .5rem;
    width: 36rem;
    height: 40rem;
    
    
}

.section-records{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items:  center;
    border-radius: .5rem;
    width: 36rem;
    height: 40rem;

    
}

@media (max-width: 900px) {


    .main-home{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        
    }
  
    .section-balance{
    
        width: 32rem;
        height:16rem;
                
        
    }
    .section-records{
 
        
        width: 32rem;
        height: fit-content;
        
    }
   

}

@media (max-width: 540px) {



.section-balance{
    width: 22rem;
}
.section-records{
    width: 22rem;
    height: fit-content;
}


}